.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.logo-container{
    filter: drop-shadow(5px 5px 5px gray);
}

.signup-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 1;
    border: 2px solid gray;
    box-shadow: 10px 10px gray;
    border-radius: 20px;
    padding: 50px;
}

.signup-box h1{
    color: gray;
}

.input-box{
    min-width: 300px;
    min-height: 50px;
    padding-left: 10px;
    outline-width: 0;
    border: none;
    margin-left: 10px;
    font-size: 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px gray;
}

.submit-btn{
    min-width: 200px;
    min-height: 50px;
    background-color: white;
    border: none;
    margin-left: 10px;
    font-size: 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px gray;
}