.welcome-container{
    flex: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.welcome-logo{
    height: 20vw;
    filter: drop-shadow(5px 5px 5px gray);
}

.welcome-container p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}