.user-item{
    flex: 1;
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.user-logo{
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    height: 32px;
    width: 32px;
    padding: 2px;

    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

