.online-container{
    flex: 0.2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    
}



.online-list{
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    flex-wrap: wrap;
    gap: 5px;
    
}

.online-list::-webkit-scrollbar{
    display: none;
}

.online-container p{
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: gray;
}